# Ignore all video files
*.mp4
*.mov
*.avi

# Ignore specific files
videos/IMG_7342.mp4
videos/IMG_7343.mp4
videos/IMG_7602.mp4
videos/IMG_6614.mp4
videos/IMG_6714.mp4
videos/IMG_6809.mp4
videos/IMG_6810.mp4
